body {
    /*font-family: sans-serif;*/
    font-family: 'Quicksand', sans-serif;
    background-image: url("/exercicio_continuo_CV/imagens/dot-grid.png");
    background-repeat: repeat;
    background-position: right top;
    background-attachment: fixed;
}

h1 {
    color:rgba(69, 35, 123, 0.7);
    text-align: center;
    font-style: italic;
}

h3 {
    color: lightcoral;
    font-style: normal;
    text-decoration: underline;
}

p {
    text-align: justify;
    font-size: 14px;
    line-height: 23px;
}

/* classe */
.destaque {
    background-color: thistle;
    color: royalblue;
    font-size: 22px;
}

input:focus{
    background-color: rgb(231, 231, 231);
}

textarea {
    resize: vertical;
}

a {
    text-decoration: none;
}

a:hover {
    color: hotpink;
    text-decoration: dashed;
    font-weight: bold;
}
option {
    font-family: 'Quicksand', sans-serif;
}

img {
    border-radius: 180px;
}

img:hover {
    border-radius: 10px;
}

mark{
    background-color: palegreen;
}
